.lang {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.lang:hover {
  opacity: 0.7;
}

.lang:active {
  padding: 1px;
}

.map {
  height: 300px;
}

.active-category {
  font-weight: bold;
  text-decoration: underline;
}

.carousel {
  width: 500px;
  margin: auto;
}