.cart__top {
  margin-left: 10%;
}

.product {
  display: flex; /* vasakult-paremale */
  justify-content: space-between; /* vaba ruumi jaotus */
  margin: 0 10%; /* tõuka eemale */
  /* 0 10% ---> 0 ülevalt-alt ja 10% vasakult paremalt */
  border-bottom: 1px solid lightgray;
  padding: 10px 0;
  align-items: center;
}

.image {
  width: 100px;
  height: 100px;
}

.name {
  width: 200px;
}

.price {
  width: 100px;
}

.quantity {
  width: 110px;
  display: flex;
  justify-content: space-between;
}

.sum {
  width: 100px;
}

.button {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.button:hover {
  opacity: 0.5;
}

.button:active {
  padding: 1px;
}

.remove {
  margin-top: 5px;
  width: 15px;
  height: 15px;
}

.cart__bottom {
  text-align: right;
  margin-right: 10%;
}

@media screen and (max-width: 700px)  {
  .image {
    width: 50px;
    height: 50px;
  }
  .name {
    width: 100px;
  }
}

@media screen and (max-width: 500px)  {
  .image {
    width: 40px;
    height: 40px;
  }
  .button {
    height: 20px;
    width: 20px;
  }
}