.App {
  background-color:rgb(50, 50, 73);
}
 
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 220px;
  height: 100%;
  background-color: #eee;
  cursor:pointer;
} 

.picture {
  height: 450px;
  width: 450px;
  margin-top: 530px;
  margin-left: 65px;
  position: fixed;
}

.picture2 {
  height: 450px;
  width: 450px;
  position: fixed;
  margin-left: 1700px;
}

.tekst {
  margin-left: 500px;
  margin-right: 300px;
  color:white;
}

.list {
  padding-top: 70px;
  text-align: center;
  font-size: 40px; 
}

/* .tabel {
  @font-face {
    font-family: ;
    src: url();
  }
} */

.ylemine-rida {
  background-color: black;
}

.pilt {
  height: 400px;
  width: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 35px;
  margin-bottom: 35px;
}

.sidebar-image {
  margin-top: 40px;
  margin-left: 30px;
  margin-right: 10px;
}

.sidebar-links {
  cursor: pointer;
}